h2 {
  font-size: calc(20px + (20 + 20) * ((100vw - 320px) / 1440));
  font-weight: 700;
}
h3 {
  font-size: 38px;
}

.wrapper {
  min-height: 100%;
}
/* ------------------ */
/* ------------------ */
/* ------------------ */

._info-area {
  max-width: 1000px;
  left: 5%;
}

/* ------------------ */
.parallax {
  bottom: 0;
  min-height: calc(100dvh - 70px);
  background-color: var(--blue);
  width: 100%;
}
.parallax * {
  pointer-events: none;
}
.parallax__body {
  position: fixed;
  color: white;
  width: 100%;
  height: calc(100dvh - 70px);
  top: 0;
  left: 0;
}
.parallax__info-area {
  position: relative;
  z-index: 2;
  top: 40%;
}
.parallax__info-area > * {
  pointer-events: all;
  max-width: 605px;
}

.parallax__title {
  margin-top: 25px;
  font-size: 88px;
  transform: translate(0px, 120%);
  color: rgba(255, 255, 255, 0);
  transition: all 0.8s ease 0s;
}
.parallax__title._active {
  transform: translate(0px, 0px);
  color: rgba(255, 255, 255, 1);
  transition: all 0.8s ease 0.4s;
}

.parallax__subtitle {
  margin-top: 25px;
  font-size: 18px;
  transform: translate(0px, 120%);
  color: rgba(255, 255, 255, 0);
  transition: all 0.8s ease 0s;
}
.parallax__subtitle._active {
  transform: translate(0px, 0px);
  color: rgba(255, 255, 255, 1);
  transition: all 0.8s ease 0.4s;
}

.parallax__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  z-index: 1;
}
.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human {
  position: absolute;
}

#keycap-1 {
  background: url("../img/keycap01.png") top / cover no-repeat;
  min-width: 120px;
  aspect-ratio: 170/170;
  width: 8%;
  height: auto;
  top: 20%;
  left: 50%;
}
#keycap-2 {
  background: url("../img/keycap02.png") top / cover no-repeat;
  min-width: 115px;
  aspect-ratio: 160/157;
  width: 8%;
  height: auto;
  top: 30%;
  left: 85%;
}
#keycap-3 {
  background: url("../img/keycap03.png") top / cover no-repeat;
  min-width: 110px;
  aspect-ratio: 147/158;
  width: 8%;
  height: auto;
  top: 80%;
  left: 10%;
}
#rock-1 {
  background: url("../img/rock01.png") top / cover no-repeat;
  min-width: 120px;
  aspect-ratio: 150/135;
  top: 15%;
  left: 15%;
  z-index: 2;
  width: 10%;
  height: auto;
}
#rock-2 {
  background: url("../img/rock02.png") top / cover no-repeat;
  min-width: 130px;
  aspect-ratio: 155/158;
  top: 80%;
  left: 35%;
  z-index: 2;
  width: 10%;
  height: auto;
}

.images-parallax__human {
  max-width: 60vw;
  width: 50%;
  height: auto;
  right: 10%;
  background: url("../img/astro-header.png") top / cover no-repeat;
  aspect-ratio: 1;
  height: auto;
  bottom: -20px;
  z-index: 3;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  z-index: 2;
  align-items: center;
}
.content::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  transform: translate(0px, -100%);
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #0b1d26 100%);
}
.content__section {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
}
.section__body {
  width: 90%;
}

.bg-blue,
.bg-black {
  display: flex;
  width: 100%;
  justify-content: center;
}
.bg-blue {
  background-color: var(--blue);
}
.bg-black {
  background-color: rgba(9, 6, 15, 1);
}
