.product {
  height: fit-content;
}

.product__body {
  display: flex;
  flex-direction: column;
}

.product__body__name {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 150px;
  font-size: 24px;
  font-weight: 700;
  color: var(--orange);
}

.product__body__name-img {
  width: 80px;
  height: 80px;
}

.product__body__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}
.product__body__about-title {
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.product__body__about-img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.product__body__about-subtitle {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  color: #ffffffe6;
  width: 60%;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .product__body__about-subtitle {
    text-align: center;
    align-self: center;
  }
}
.product__body__info {
  display: flex;
  background-color: var(--orange);
  border-radius: 10px;
  height: 250px;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .product__body__info {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .product__body__info {
    flex-direction: column;
    height: fit-content;
  }
}
.product__body__info-wrapper {
  display: flex;
  max-width: 1240px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0;
}
@media (max-width: 1024px) {
  .product__body__info-wrapper {
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .product__body__info-wrapper {
    flex-direction: column;
    padding: 5% 0 5% 0;
  }
}
.product__body__info__element {
  display: flex;
  flex-direction: column;
  height: 200px;
  max-width: 290px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .product__body__info__element {
    height: 250px;
  }
}
@media (max-width: 767px) {
  .product__body__info__element {
    align-items: center;
    text-align: center;
  }
}
.info__element__img {
  width: min-content;
}
.info__element__title {
  font-size: 32px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.info__element__subtitle {
  color: white;
  font-weight: 700;
}

.product__body__program {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 40px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .product__body__program {
    align-items: center;
  }
}
.body__program__title {
  color: white;
  font-weight: 700;
}

.body__program__list {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin-top: 10px;
  color: #ffffffe6;
}

.course-program__program-module {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.course-program__program-module__elements {
  padding-bottom: 20px;
}

.course-program__program-module__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.course-program__program-module__description {
  font-size: 20px;
}
.product__body__contacts {
  font-size: 75px;
  display: flex;
  flex-direction: column;
  padding: 0 0 5% 0;
}
@media (max-width: 1024px) {
  .product__body__contacts {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .product__body__contacts {
    font-size: 30px;
  }
}
.product__body__contacts__elements {
  color: #ffffffe6;
}
