.result {
}

.result__body {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.result-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .result-header__title {
    text-align: center;
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1296));
  }
}
.result__info-area {
  display: flex;
  gap: 75px;
  justify-content: center;
  flex-wrap: wrap;
}

.result__element {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
  width: 100%;
  height: 595px;
}
.result__element__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 295px;
  width: 100%;
  height: 530px;
}
.result__element__title {
  font-size: 24px;
  color: var(--orange);
  font-weight: 700;
}
