.footer {
  display: flex;
  position: relative;
  z-index: 3;
  background-color: white;
  justify-content: center;
  height: 600px;
}

.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 425px;
  margin-top: 60px;
}

.logo-footer {
  width: 180px;
  height: 90px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
}

.footer__nav-item {
  display: flex;
  min-width: 250px;
  flex-direction: column;
  justify-content: space-between;
}

.nav-item__link {
  color: black;
  font-size: 18px;
}
.nav-item__link:hover {
  color: #ff7a00cc;
}
.nav-item__title {
  font-size: 32px;
  font-weight: 700;
  color: var(--orange);
}

.nav-item__subtitle {
  display: flex;
  color: black;
  max-width: 228px;
  font-size: 18px;
}
.nav-item__subtitle-holder {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* contract */

.contract-block {
  display: flex;
  align-self: flex-end;
}

.contract-block__text {
  color: var(--orange);
  font-size: 24px;
  font-weight: 700;
  text-decoration: solid var(--orange) underline;
}
.contract-block__text:hover {
  color: #ff7a00cc;
}
/* follow-block */

.follow-block {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.follow-block__img-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

.follow-block__img {
  width: 50px;
  height: 50px;
}

@media(min-width: 1440px) {
  .footer__body {
    width: calc((1440px / 100) * 90);
  }
}
@media(max-width: 1440px) {
  .footer__body {
    width: 90vw;
  }
}
@media(max-width: 1024px) {
  .footer__nav {
    flex-direction: column;
    height: fit-content;
  }
  .footer__nav-item {
    gap: 15px;
  }
  .footer {
    height: fit-content;
  }
  .follow-block {
    align-self: center;
  }
  .footer__body {
    height: fit-content;
    margin: 20px 0 60px;
    text-align: center;
    gap: 40px;
  }
  
  .footer * {
    align-items: center;
  }
  .contract-block {
    align-self: center;
  }
}