/* FAQ SECTION */

/* FAQ */

.faq-block {
  display: flex;
  flex-direction: column;
}

.accordion {
  max-width: 1200px;
}
.accordion__item-wrapper {
  display: flex;
  flex-flow: row nowrap;
}
.accordion__item {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
}
.accordion__item-content {
  display: none;
  margin-top: 15px;
  color: rgba(120, 120, 120, 2);
}
.accordion__item-content-block {
  display: block;
}
.accordion__item-title {
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .accordion__item-title {
    font-size: calc(14px + (16 + 16) * ((100vw - 320px) / 1280));
  }
}
.accordion__item-button {
  flex: 0 0 30px;
  height: 30px;
  border: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.accordion__item-minus {
  background-image: url("../img/faq-section/minus.svg");
}
.accordion__item-plus {
  background-image: url("../img/faq-section/plus.svg");
}
.accordion .hr-line {
  opacity: 0.15;
  margin-top: 35px;
  margin-bottom: 35px;
}
