.bonus {
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 845px;
}
@media (max-width: 767px) {
  .bonus {
    max-height: none;
    min-height: fit-content;
  }
}
.bonus__body {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
@media (max-width: 767px) {
  .bonus__body {
    width: 90%;
    justify-content: center;
  }
}
.bonus__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: fit-content;
  padding: 5% 5% 10%;
  position: relative;
  z-index: 3;
}
@media (max-width: 1023px) {
  .bonus__header {
  }
}
@media (max-width: 767px) {
  .bonus__header {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    flex: 1 1 auto;
    align-items: center;
  }
}
.bonus__header__title {
  font-size: 36px;
  color: var(--orange);
}

.bonus-header__subtitle {
  font-size: 30px;
  font-weight: 700;
  color: var(--orange);
}

.bonus-astro__img {
  position: absolute;
  transform: translate(0%, -50%);
  transform-origin: center;
  object-fit: cover;
  object-position: top;
  z-index: 0;
  max-width: 836px;
  width: 10;
  display: block;
  top: 50%;
  right: 0;
}
@media (max-width: 836px) {
  .bonus-astro__img {
    height: 100%;
    right: auto;
    left: 0;
    overflow: hidden;
  }
}
