.partners {
  height: 715px;
}

.partners__body {
  display: flex;
  flex-direction: column;
}
.partners__body__info {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
}

.partners__title {
  display: flex;
  color: white;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  margin-top: 20px;
}

.partners-img {
  filter: grayscale(0%);
  overflow: hidden;
  transition: transform 0.25s;
}

.partners-img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.partners-img:active {
  transform: scale(1.2-1.5);
}
.partners-img__01 {
  position: relative;
  width: 180px;
  height: 21px;
  top: 15%;
}

.partners-img__02 {
  position: relative;
  max-width: 455px;
  width: 100%;
  height: 94px;
  top: 35%;
}

.partners-img__03 {
  position: relative;
  max-width: 106px;
  width: 100%;
  height: 108px;
  top: 80%;
}

.partners-img__04 {
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 69px;
  top: 25%;
}

.partners-img__05 {
  position: relative;
  max-width: 193px;
  width: 100%;
  height: 104px;
  top: 35%;
}

.partners-img__06 {
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 90px;
  top: 70%;
}

.partners-img__07 {
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 89px;
  top: 70%;
  left: 40%;
}
