.partners {
  height: 715px;
}

.partners__body {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  gap: 60px;
}
.partners__body__info {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
}

.partners__title {
  display: flex;
  color: white;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
}
.partners__images__holder {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
}
.partners-img {
  filter: grayscale(0%);
  overflow: hidden;
  transition: transform 0.25s;
}

.partners-img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.partners-img:active {
  transform: scale(1.2-1.5);
}
.partners-img__01 {
  position: relative;
}

.partners-img__02 {
  position: relative;
}

.partners-img__03 {
  position: relative;
}

.partners-img__04 {
  position: relative;
}

.partners-img__05 {
  position: relative;
}

.partners-img__06 {
  position: relative;
}

.partners-img__07 {
  position: relative;
}

@media (max-width: 1023px) {
  .partners {
    height: fit-content;
  }
  .partners__images__holder {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
  }
  .partners__images__holder img {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    max-width: 455px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    object-fit: contain;
  }
}
