.header {
  display: flex;
  background-color: var(--blue);
  height: 70px;
  justify-content: center;
}
.header-body {
  display: flex;
  max-width: calc(1440px / 100 * 90);
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 250px;
  aspect-ratio: 290/140;
  position: relative;
  z-index: 3;
  filter: var(--blue-drop-shadow);
  margin-bottom: -75px;
}

.header-nav {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  z-index: 3;
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-nav__item {
  color: white;
  font-size: 20px;
}
.header-nav__item:hover {
  color: #ff7a00;
  transition: 0.2s linear;
}
.side-menu {
  display: none;
}

@media (max-width: 1023px) {
  /*header*/

  .logo {
    width: fit-content;
    height: 60px;
    margin: 0;
  }
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    width: 100%;
    height: calc(100dvh - 70px);
    position: fixed;
    background-color: var(--blue);
    overflow: hidden;
    max-height: 0px;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: max-height 0.5s ease-out;
  }
  /*side-menu*/
  .hamb {
    display: block;
    cursor: pointer;
    float: right;
    padding: 29px 18px;
    margin: 10px;
    border-radius: 50%;
  }
  .hamb:hover {
    background-color: #0000000F;
  }
  .hamb:active {
    background-color: #0000000F;
  }

  .hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: all 0.2s ease-out;
    width: 24px;
  }
  .hamb-line::before,
  .hamb-line::after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamb-line::before {
    top: 5px;
  }
  .hamb-line::after {
    top: -5px;
  }

  .side-menu:checked ~ .header-nav {
    z-index: 10;
    max-height: calc(100dvh - 70px);
    background-color: var(--blue);
  }
  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
    background-color: var(--orange);
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
    background-color: var(--orange);
  }
  .header-nav__list {
    list-style: none;
    width: fit-content;
    overflow: hidden;
    max-width: none;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-align: center;
    font-size: 2rem;
  }

  .header-nav__list * {
    color: white;
  }
}
